.background{
	border:1px solid #F20;
	position:absolute;
	height:100%;
	width:100%;
	background: url(images/background3.jpg) no-repeat center top;
}
.myVideoBlock{
	position: absolute;
	height:250px; 
	width:100%;
	margin:0 auto;
	border:1px solid #F00
}

.myVideo{
	position: relative;
	left: 38%;
	height:100%;
	width:350px;
	frameborder:no;
}
.main{
	background:blue;
	margin: 0;
	padding: 0;
	position:absolute;
	height:100%;
	width:100%;
}