.background{
	border:1px solid #F20;
	position:relative;
	height:100%;
	width:100%;
	background: url(images/background3.jpg) no-repeat center top;
}
.myVideoBlock{
	position: absolute;
	left:37%;
	top:40%;
	margin-left: -2.5px;
	margin-top: -8.33333333px;
	height:250px; 
	width:340px;
}

.myVideo{
	position: absolute;
	height:100%;
	width:100%;
	frameborder:no;
}
.main{
	background:blue;
	margin: 0;
	padding: 0;
	position:absolute;
	height:100%;
	width:100%;
}